<div class="container">
    <div>
        <% if(currentPage <= totalPages){ %>
            <h1 class="text-center">All polls:</h1>
            <% polls.forEach(function(poll) { %>
                <a class ="list-group-item" href=<%=poll.id %>><b><%= poll.question %>%></b></a>
            <% }); %>
        <% } %>  
    </div>

    <input type="hidden" name="currentPage" value="<%=currentPage%>" currentPage="<%=currentPage%>">
    <input type="hidden" name="totalPages" value="<%=totalPages%>">
    

    <div class="text-center">
        <ul class="pagination">
            <% if(currentPage != 1){ %>
                <li><a href="/poll/all?page=<%=currentPage-1%>"><</a></li>
            <% } %>

            <form action="go-to-page" method="POST">
                <input type="text" name="page">
                <button id="page-find"><i class="fa fa-search" aria-hidden="true"></i></button>
            </form>

            <% if(currentPage < totalPages){ %>
            <li><a href="/poll/all?page=<%=currentPage+1%>%>">></a></li>
            <% } %>
        </ul>
    </div>
    
</div>